@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0%;
  padding: 0%;
  background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Josefin Sans", sans-serif;
}

.wrapper {
  margin-top: 10%;
}

.wrapper h1 {
  font-family: "Allura", cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team {
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.team .team_member {
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  position: relative;
  color: #8e8b8b;
}

.team .team_member h3 {
  color: #81c644;
  font-size: 26px;
  margin-top: 50px 
}

.team .team_member p.role {
  color: #ccc;
  font-size: 12px;
  text-transform: uppercase;
  margin: 12px 0;
}

.team .team_member .team_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px;
}

.team .team_member .team_img img {
  width: 100px;
  height: 100px;
}

/* css for notre histoire.html*/
.container {
  width: 100%;
  min-height: 100vh;
  
}

.container .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 1.5px;
  padding: 50px 0px;
}

.container .title h1::after {
  content: "";
  height: 6px;
  width: 180px;
  background-color: #222;
  border-radius: 6px;
  position: relative;
  display: block;
  margin: auto;
}

.content {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin: 30px auto;
}

.content .article {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 25px 25px;
  background-color: #a8e063;
}

.content .article h2 {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.content .article p {
  margin-top: 30px;
  font-size: 19px;
  line-height: 1.5;
}

.content .article a {
  font-size: 22px;
  text-decoration: none;
  display: inline-block;
  padding: 12px 35px;
  border-radius: 25px;
  border: 1px solid black;
  color: whitesmoke;
  letter-spacing: 1.5px;
  margin-top: 20px;
  background-color: #222;
}

.content .article a:hover{
  background-color: #fff;
  color: #cc0000;
  transition: 0.2s ease;
}

.image_section {
  width: 100%;
  margin: auto;
}

.image_section img {
  width: 100%;
  height: auto;
}



/* Additional style for hiding the additional text */
.additional-text {
  display: none;
}



/* Additional style for hiding the additional text */
.additional-text {
  display: none;
}

/* Styling for the label (button) */
.button {
  font-size: 22px;
  text-decoration: none;
  display: inline-block;
  padding: 12px 35px;
  border-radius: 25px;
  border: 1px solid black;
  color: whitesmoke;
  letter-spacing: 1.5px;
  margin-top: 20px;
  background-color: #222;
}

/* Hover effect for the label (button) */
.button:hover {
  background-color: #fff;
  color: #cc0000;
  transition: 0.2s ease;
}


/* When the checkbox is checked, show the additional text */
.read-more-checkbox:checked ~ #additionalText {
  display: block;
}

/* Hide the checkbox */
.read-more-checkbox {
  display: none;
}

.read-more-checkbox:checked ~ #additionalText2 {
  display: block;
}

.read-more-checkbox:checked ~ #additionalText3  {
  display: block;
}

.read-more-checkbox:checked ~ #additionalText4  {
  display: block;
}


/* css for vente.html*/
#vente {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

h3 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 5px;
}



.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: end;
  align-items: center;
  margin: 50px 0;
}

.contenu {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0,0.22);
  transition: 0.5s;
}

.contenu:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px -18px);
  height: 500px;
}

.contenu #myimage {
  top: 20px;
  height: 200px;
  width: 200px;
  overflow: hidden;
  transition: 0.5s;
}

.contenu:hover #myimage {
  top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 2);
}

#myimage {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

#pee {
  text-align: center;
  color: whitesmoke;
  padding-top: 0 8px;
}

h6 {
  font-size: 26px;
  text-align: center;
  color: black;
}

#bouton {
  text-align: center;
  font-size: 24px;
  color: whitesmoke;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.buy-1{
  background: linear-gradient(to right, #56ab2f, #a8e063);
}

.buy-2 {
background: linear-gradient(to right, #78ffd6, #a8ff78); 
}

.buy-3 {
  background: linear-gradient(to right, #11998e, #38ef7d);
}

.buy-4 {
  background: linear-gradient(to right, #00f260, #0575e6);
}


/* header navbar */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px; /* Largeur de la barre de navigation */
  height: 100%; /* Hauteur de la barre de navigation */
  background-color: #80B539;
  padding-top: 20px; /* Espace en haut de la barre de navigation */
}

nav ul {
  list-style-type: none; /* Supprime les puces de la liste */
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-bottom: 20px; /* Espacement entre les éléments de la liste */
  writing-mode: vertical-lr; /* Texte vertical */
  transform: rotate(180deg); /* Inversion du texte */
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

nav ul li a:hover {
 background-color: #283c86;
}

/* footer */


footer {
  margin-left: 8%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Shorthand for creating three equal-width columns */
  grid-gap: 7px;
  background-color: #C0E288;
}

.footer-item {
  text-align: center;
  text-decoration: underline;
  background-color: #C0E288;
}

.footer-item ul {
  list-style-type: none;
  padding: 0;
  display: flex; 
  justify-content: space-between;
}

.footer-item ul li {
  flex-grow: 1;
}

.footer-item ul li a {
  display: block;
  text-decoration: none;
  color: black;
  font-family: "The Girl Next Door", cursive;
  padding: 60px;
  text-align: center;
}

.footer-item ul li a:hover {
  background-color: #80B539;
}

.footer-item p {
  color: black;
}