
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** début du menu contact ****/
.body_contact {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    background-color: #4c0202da;
    background-image: url('image/contactimage.png');
    background-size: cover;
}

.titreC {
    align-items: center;
}

.hero {
    width: 100%;
    height: 130vh;
    background-image: linear-gradient(rgba(25, 186, 19, 0.5), #27b936);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 90%;
    max-width: 600px;
}

.input-group {
    margin-bottom: 60px;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    color: #fff;
    cursor: text; 
    transition: 0.5s;
}

button {
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group {
    flex-basis: 48%;
}

h3 {
    font-size: 25px;
}

.large-icon {
    font-size: 2rem;
}


/* Styles pour le titre */
h1, .title {
    font-weight: 530;
    font-style: normal;
    flex-grow: 1;
    text-align: center;
    font-size: xx-large;  
    color: black;
    width: 150%; /* Ajustement de la largeur */
    
  }
  
  /* Styles pour le banniere */
  .valo {
    position: fixed;
    display: flex;
    align-items: center;
    background: #80B539;
    width: calc(100% - 59px); 
    z-index: 3;
    margin-left: 59px;
  }
  .logo {
    width: 80px; /* Taille du logo en pixels */
    height:   45px; /* Hauteur automatique pour conserver les proportions */
    margin-right: 10px; /* Marge à droite pour séparer le logo du titre */
    padding-left: 20px;
  }
  
  
  
  /* Styles pour la barre de navigation */
  nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100px; /* Largeur de la barre de navigation */
      height: 100%; /* Hauteur de la barre de navigation */
      background-color: #80B539;
      padding-top: 20px; /* Espace en haut de la barre de navigation */
  }
  
  nav ul {
      list-style-type: none; /* Supprime les puces de la liste */
      margin: 0;
      padding: 0;
  }
  
  nav ul li {
      margin-bottom: 20px; /* Espacement entre les éléments de la liste */
      writing-mode: vertical-lr; /* Texte vertical */
      transform: rotate(180deg); /* Inversion du texte */
  }
  
  nav ul li a {
      display: block;
      padding: 10px;
      color: #fff;
      text-decoration: none;
      text-align: center;
  }
  
  nav ul li a:hover {
     background-color: #283c86;
  }
  
  /* Styles pour le contenu principal */
  #easy {
      margin-left: 140px; /* Décalage du contenu principal */
      padding-top: 100px; /* Espace entre la barre de navigation et le contenu principal */
  }
  
  .product {
      margin-left: 140px; /* Décalage du contenu principal */
  }
  
  /* Global styles */
  body {
      font-family: "The Girl Next Door", cursive;
      margin: 0;
      padding: 0;
      background-color: #11998e;
  }
  
  /* Style pour centrer le titre */
  h1 {
    text-align: center;
  }
  
  p {
    font-family: "The Girl Next Door", cursive;
    color: white;
  }
  
  h1, h2, h3 {
      font-family: "The Girl Next Door", cursive;
      color: #ffffff;
  }
  
  /* Header styles */
  header {
      background-color: #80B539;
      color: #acd2b1;
      padding: 0px;
      margin-bottom: 0; /* Supprime la marge en bas du header */
  }
  
  header h3 {
      margin: 0;
  }
  
  #easy {
      position: relative; /* Position relative pour positionner les éléments enfants absolument */
  }
  
  .easy-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #80B539; /* Vert foncé */
      background-color: #67B26F;
      padding: 20px;
      border-radius: 10px;
      font-size: 28px;
      padding-top: 20px;
  }
  
  .easy-overlay h2 {
      font-size: 24px; /* Taille de police du texte */
      padding-top: 20px;
  }
  
  #easy img {
      max-width: 100%; /* Assure que l'image s'adapte à la largeur de son conteneur */
      height: auto; /* Garde le rapport hauteur/largeur */
      display: block; /* Supprime les marges autour de l'image */
      margin: 0 auto; /* Centre l'image horizontalement */
  }
  
  #easy h2 {
      font-size: 24px;
      padding-top: 60px;
  }
  
  /* Responsive styles */
  @media only screen and (max-width: 768px) {
      #easy h1 {
          font-size: 36px;
      }
  
      #easy h2 {
          font-size: 16px;
      }
  }
  
  @media only screen and (max-width: 480px) {
      #easy h1 {
          font-size: 24px;
      }
  
      #easy h2 {
          font-size: 14px;
      }
  }
  
  #featured-products {
      padding-top: 20px; /* Ajoute un espace entre le titre et les produits */
  }
  
  #featured-products h2 {
      text-align: center;/* Centre le titre */
      text-indent: 7em;
  }
  
  .products-container {
      display: flex; /* Utilise Flexbox pour disposer les produits horizontalement */
      flex-wrap: wrap; /* Permet aux produits de se mettre à la ligne si l'espace est insuffisant */
      justify-content: space-around; /* Répartit les produits de manière égale sur l'axe horizontal */
      margin-left: 120px; /* Ajoute un décalage pour éviter de dépasser la barre de navigation */
  }
  
  .product {
      width: calc(33.33% - 20px); /* Définit la largeur des produits avec un espace entre eux */
      margin-bottom: 20px; /* Ajoute un espace entre les produits */
      text-align: center; /* Centre le contenu des produits */
  }
  
  .product:hover {
      background-color: #4ca2cd; /* Couleur de fond au survol */
      border-radius: 10%;
  }
  
  .product img {
      max-width: 100%; /* Assure que les images des produits s'adaptent à la largeur de leur conteneur */
      height: auto;
      border-radius: 61% 39% 60% 40% / 57% 32% 68% 43%;
  }
  
  footer {
      margin-left: 2%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; /* Créer trois colonnes de largeur égale */
      grid-gap: 10px; /* Ajouter un espace entre les éléments */
      background-color: #085b1f;
  }
  
  .footer-item {
      text-align: center; /* Centrer le texte à l'intérieur des éléments */
      background-color: #085b1f;
      text-decoration: none;
      list-style-type: none;
  }
  
  .footer-item ul li a {
      text-decoration: none; /* Supprimer le soulignement des liens */
      color: black; /* Définir la couleur du texte des liens */
      font-family: "The Girl Next Door", cursive; /* Utiliser la même police que pour le titre */
      display: block; /* Permettre que chaque lien occupe toute la largeur du conteneur */
  }
  
  .footer-item ul {
      list-style-type: none;
  }
  
  .footer-item ul li a:hover {
      background-color: #80B539; /* Changer la couleur de fond au survol */
  }
  
  .footer-item p {
      color: black;
  }

.main {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    
}
.logo23 {
    align-content: end;
}


/****  page profil   ****/
.bg-light {
    background-color: grey !important;
}